<div class="login-hdr">
    <span>Login</span>
    </div>
    <div class="login-content">
     <input type="text"><br>
     <input type="text"><br><br>
   <button type="button" (click)="login()">Microsoft</button>
    </div>