/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box; 
  }
  body {    
	min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
	background: #e5e6e8;
    align-items: center;
  }
  .login-layout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }
  .login-card{
    border: 1px solid #f9f7f7;
    width: 25rem;
    height: 18rem;
    display: block;
    background: white;
    border-radius: 0.3rem;
    box-shadow: 4px 4px 15px #c2c2c5;
}
.login-block{
	display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}